* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: lightgray;
}

#wrapper {
  margin: 0 auto;
}

canvas {
  background-color: white;
  border: 1px solid black;
}
